{% extends "base.html" %} 
{% block content %} 
<style>

h2 {text-align: center;} 
  p {text-align: center}
</style>
        <p>HOME is where the heart is!💙</p>
        <p>La maison est où se trouve le cœur!💙</p><br>
<style>  
img {
  border: 5px solid #555;
}</style>
<div class="flexible">

<div class="w3-card-4 w3-center w3-animate-zoom" style="max-width:2500px">
<div style="max-width:2500px">
    <img src="https://d39gusjpdm7p1o.cloudfront.net/data/layout_grouping/category_index_header_image/19188_19183_0.2000w.jpg?ver=1675417168" alt="1675417168-1" style="width:99%;">
</div>
<p>Île de la Cité - Paris</p><br>

<p></p>

  <style>  
  img {
    border: 5px solid #555;
  }</style>
  <div class="flexible">

  <div class="w3-card-4 w3-center w3-animate-zoom" style="max-width:400px">
  <div style="max-width:500px">
      <img src="https://as1.ftcdn.net/v2/jpg/01/87/58/96/1000_F_187589683_3SmyHRrRQI1D3jnD82k4k4hGWVx3sB9l.jpg" alt="" style="width:99%;">
  </div>
  <p>Île Saint-Louis</p>
  
 <p>Ile Saint-Louis, is one of two natural islands in the Seine river, in Paris, France. The island is named after King Louis IX of France (Saint Louis). </p> <br>



{% endblock %} 
