{% extends "base.html" %} 
{% block content %} 
<style>

h2 {text-align: center;} 
  p {text-align: center}
</style>
        <p>HOME is where the heart is!💙</p>
        <p>LA MAISON est où se trouve le coeur!💙</p>
<div class="flexible">

<div class="w3-card-4 w3-center w3-animate-zoom" style="max-width:1000px">
<div style="max-width:900px">
    <img src="https://www.leparisien.fr/resizer/8IYalKE-4wjSZyVKAHgxkprD5jM=/932x582/cloudfront-eu-central-1.images.arcpublishing.com/leparisien/VN3YQQL3XEMSIBLXX54FHMWZTM.jpg" alt="VN3YQQL3XEMSIBLXX54FHMWZTM-1" style="width:90%;">
</div>
<p>La fontaine Stravinsky</p>
  <p>Centre national d'art et de culture Georges-Pompidou - Paris</p>

{% endblock %} 
