{% extends "base.html" %} 
{% block content %} 


<style>
h2 {text-align: center;} 
  p {text-align: center}
 
  img {
    border: 5px solid #555;
  }
</style>

<p><h2>Le bâtiment Flatiron</h2></p>


<div class="flexible">
  <div style="max-width:900px">
      <img src="https://th-thumbnailer.cdn-si-edu.com/D4bvwXlY1wDFzdP_4EBgSLa3NEU=/fit-in/1072x0/filters:focal(2593x1852:2594x1853)/https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer_public/18/5b/185bd04e-540f-4801-b07d-f50613693fb0/gettyimages-599429583.jpg" />
  </div>
</div>
<p></p>
<p>This is a very famous building is in NYC.</p>
<p>C’est un bâtiment très célèbre qui se trouve à New York</p>
<p></p>
<p></p>
<p>For more information see:</p>
<p>https://architectuul.com/architecture/flatiron-building</p>
<p></p>
<p>htps://www.history.com/topics/landmarks/flatiron-building</p>

{% endblock %} 