{% extends "base.html" %} 
{% block content %} 


<style>
h2 {text-align: center;} 
  p {text-align: center}
</style>

<p><h2>Le bâtiment Flatiron</h2></p>


<div class="flexible">
  <div style="max-width:300px">
      <img src="https://fastly.picsum.photos/id/743/5000/3333.jpg?hmac=ZgQTE1yqTpemLhs8NWXi-M4BaCBjikZ4lEnWYeByUbo" />
  </div>
</div>
<p></p>
<p>This is a very famous building is in NYC.</p>
<p>C’est un bâtiment très célèbre qui se trouve à New York</p>
<p></p>
<p></p>
<p>For more information see:</p>
<p>https://architectuul.com/architecture/flatiron-building</p>
<p></p>
<p>htps://www.history.com/topics/landmarks/flatiron-building</p>

{% endblock %} 