<i class="fa-duotone fa-pepper-hot"></i>

<i class="fa-solid fa-egg"></i>


<i class="fa-solid fa-ice-cream"></i>



i class="fa-solid fa-burger"></i>


<i class="fa-brands fa-apple"></i>



<i class="fa-light fa-bowl-food"></i>



<i class="fa-solid fa-kitchen-set"></i>




</head>
<body>
  <i class="fa-solid fa-user-chef"></i> <!-- uses solid style -->
  <i class="fa-sharp fa-solid fa-alien"></i> <!-- uses sharp family's solid style -->
 <i class="fa-sharp fa-regular fa-plate-utensils"></i>  <!-- uses sharp family's solid style -->
  <i class="fa-brands fa-github-square"></i> <!-- uses brand style -->
</body>