{% extends "base.html" %} 
{% block content %} 
    
        <style>
          h2 {text-align: center;} 
          p {text-align: center}
        </style>
        <p>Home is where the heart is!💖</p>
        <p>La maison est où se trouve le cœur!💖</p>
       <div class="flexible">

          <div class="w3-card-4 w3-center w3-animate-zoom" style="max-width:1000px">
          <div style="max-width:900px">
              <img src="https://www.cordonbleu.edu/Files/MediaFile/56693.jpg" alt="56693-1" style="width:90%;">
     </div>
{% endblock %} 
          