{% extends "base.html" %} 
{% block content %} 
  <style>
  h2 {text-align: center;} 
  p {text-align: center}
  </style>
<p><h2>La Tour Eiffel</h2></p> <br>
       
                                             

<div class="flexible">
  <div style="max-width:300px">
      <img src="https://fastly.picsum.photos/id/318/3264/2448.jpg?hmac=zkYZ29-Ww_A4O_kZ3gjlpFQuEYELWgeM6aI_CMG01BU" />
  </div>
</div>
<p></p>



<div class="flexible">
  <div style="max-width:300px">
      <img src="https://fastly.picsum.photos/id/234/2048/2048.jpg?hmac=YCPuGyfuQkdTrkvozOqyypcBgr78s9j-kuWtR42dCpI" />
  </div>
</div>
      <p></p>


        <p>Bottom photo taken at the intersection of Quai Jacques Chirac, 2 Avenue de Suffren, and Quai Branly in the 7th Arrondissement.</p>
    <p></p>


{% endblock %}  




