{% extends "base.html" %} 
{% block content %} 
  <style>
  h2 {text-align: center;} 
  p {text-align: center}
  </style>
<p><h2>La Tour Eiffel</h2></p> <br>

       <div class="flexible">
         <div style="max-width:500px">
             <img src="https://as2.ftcdn.net/v2/jpg/00/96/19/41/1000_F_96194132_dSEDqDtfWT8MLYro3utVYforDse6jnzC.jpg" />
         </div>
       </div>
       <p></p>

<div class="flexible">
  <div style="max-width:500px">
      <img src="https://as2.ftcdn.net/v2/jpg/01/91/97/33/1000_F_191973381_vpYdaR74tRT0oCMMJpSI7CntL71NSu6E.jpg" />
  </div>
</div>
<p></p>


<div class="flexible">
  <div style="max-width:500px">
      <img src="https://as1.ftcdn.net/v2/jpg/03/49/98/68/1000_F_349986855_vLarfG030oUGyahFiR48MzQvmo7bOdUA.jpg" />
  </div>
</div>

<p></p>
<div class="flexible">
  <div style="max-width:500px">
      <img src="https://fastly.picsum.photos/id/234/2048/2048.jpg?hmac=YCPuGyfuQkdTrkvozOqyypcBgr78s9j-kuWtR42dCpI" />
  </div>
</div>
      <p></p>


        <p>Bottom photo taken at the intersection of Quai Jacques Chirac, 2 Avenue de Suffren, and Quai Branly in the 7th Arrondissement.</p>
    <p></p>


{% endblock %}  




