{% extends 'base.html' %}
{% block content %}
     <div class="w3-container" style="display:flex;justify-content:space-around">
     <div class="w3-card-4 w3-center w3-animate-zoom" style="max-width:400px">

   <header class="w3-container w3-light-grey">
     <h1>{{ recipe.name }}</h1>
   </header>
   <div class="w3-container">

     <p>Author: {{ recipe.author }}</p>
     <p>Description: {{ recipe.description }}</p>
     <p>Ingredients: {{ recipe.ingredients }}</p>
     <p>Instructions: {{ recipe.instructions }}</p>
     <p>Rating: {{ recipe.rating }} {{ stars|safe }}</p>
   </div>


  <div class="w3-container">
    
    <i class="fa fa-spinner fa-spin" style="font-size:54px;color:cyan"></i>
     <i class="fa fa-spinner fa-spin" style="font-size:34px;color:darkred"></i>
     <i class="fa fa-spinner fa-spin" style="font-size:24px;color:black"></i>
 
  </div>
       
               
   <footer class="w3-container w3-light-grey">
     <h5><em>Category: {{ recipe.category.name }}</em></h5>
     
   
     <p><a href="/recipes">back</a></p>
   </footer>
  </div>
   </div>
   </div>
{% endblock %}

